<main>
    <div class="container">
        <h3 class="text-center mt-5">
        Epic Energy...l'energia che ti ascolta
    </h3>
<div class="text-center">
<div>
    <p>Registrati<a class="nav-link" [routerLink]="['/register']" routerLinkActive="active"
  style="text-decoration: underline">cliccando qui</a></p>
  </div>
<div>
  <p>oppure</p>
</div>
<div>
     <p><a class="nav-link" style="text-decoration: underline;" [routerLink]="['/login']" routerLinkActive="active">accedi</a> con le tue credenziali</p>

</div>
</div>

    </div>
</main>
